* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

*, html {
    scroll-behavior: smooth !important;
}

body{
    padding: 3rem 5rem;
    background-color: rgb(238, 255, 230);
}

hr{
    border: none;
    border-top: 2px solid rgb(149, 214, 53);
}

.project{
    width: 60vw;
}

.center-align{
    text-align: center;
}

video{
    border-radius: 10px 0 0 10px;
    height: 80vh;
    position: fixed;
    right: 0;
    top: 10vh;
}

.home-logo{
    position: absolute;
    height: 50px;
    cursor: pointer;
}

.home-logo:hover{
    transform: scale(1.2);
}

.project{
    margin-top: 3rem;
}

h2{
    margin-bottom: 10px;
}